@layout('main')
@section('content')
<h1>{{ title }}</h1>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@if(old('notification'))
<script>
  // const message = old('notification')
  swal("Good job!", "Task added!", "success");
</script>
@endif

<div class="list-group">
  @each(item in tasks)
    <a href="#" class="list-group-item list-group-item-action">{{ item.title }} </a>
  @endeach
</div>
@endsection
